html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(251, 251, 253);
  font-family: 'Times New Roman', Times, serif;
}
* {
  box-sizing: border-box;
}
.banner {
  background-color: #3aa0cb;
  color: #fefefe;
  text-align: center;
}
.banner p {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 8px #414141;
  font-family: 'Courier New', Courier, monospace;
}
.banner h1 {
  padding-top: 0;
  margin: 0;
  text-shadow: 2px 2px 8px #414141;
}
.osio1{
  background-color: #3aa0cb;
  margin: 0;
}
.content1{
  z-index: 98;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.osio1 .responsive_left {
  padding: 50px 20px;
  height: 100%;
  /*float: left;*/
  width: 30%; /* The width is 20%, by default */
  margin: auto;
}
.osio1 .responsive_left img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.267), 0 6px 20px 0 rgba(0, 0, 0, 0.342);
  border-radius: 5px;
}
.osio1 .responsive_right {
  padding: 50px 20px;
  /*float: left;*/
  width: 70%; /* The width is 20%, by default */
}
.osio1 .responsive_right h1 {
  margin: 0;
  color: rgb(254, 254, 254);
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 2px 2px 8px #414141;
  text-align: left;
}
.osio1 .responsive_right h2 {
  margin: 0;
  color: rgb(254, 254, 254);
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 8px #414141;
  text-align: left;
  text-align: justify;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.content2{
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.osio2{
  background-color: #eeeeee;
}
.osio2 h1 {
  color: rgb(103, 103, 103);
  text-shadow: 2px 2px 6px rgb(255, 255, 255);
  font-size: 3em;
  margin: 0;
  padding: 7px;
}
.osio2 .aboutText {
  margin: 0;
  color: rgb(65, 65, 65);
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  padding: 0;
  text-align: justify;
}
.osio2 .aboutText a {
  display: inline-block;
  text-decoration: underline;
  font-weight: bolder;
  color: rgb(65, 65, 65);
  font-family:'Courier New', Courier, monospace;
  transition: transform .1s;
}
.osio2 .aboutText a:hover {
  -ms-transform: scale(1.025); /* IE 9 */
  -webkit-transform: scale(1.025); /* Safari 3-8 */
  transform: scale(1.025);
}

.content3{
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.osio3{
  background-color: rgb(58, 160, 203);
}
.osio3 h1 {
  color: rgb(254, 254, 254);
  text-shadow: 2px 2px 6px #2b2b2b;
  font-size: 3em;
  margin: 0;
  padding: 7px;
}
/* Container for flexboxes */
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}
/* Create four equal columns */
.card-column {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform .2s;
  border-radius: 5px;
  color: rgb(65, 65, 65);
  width: 250px;
  position: relative;
}
.card-column img {
  padding: 30px;
  width: 100%;
}
.card-column:hover {
  transform: scale(1.025);
}
.card-text {
  padding: 2px 16px 16px 16px;
}
.card-button {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  background-color: rgb(65, 65, 65);
  color: #eeeeee;
  text-decoration: none;
  transition: transform .1s;
  position:absolute;                 
  bottom:0;                         
  right:0;
}
.card-button:hover {
  transform: scale(1.025);
  background-color: rgb(58, 160, 203);
  color: rgb(254, 254, 254);
  border-radius: 5px;
}
.content4{
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.osio4{
  background-color: #eeeeee;
}
.osio4 h1 {
  color: rgb(103, 103, 103);
  text-shadow: 2px 2px 6px rgb(255, 255, 255);
  font-size: 3em;
  margin: 0;
  padding: 7px;
}
.osio4 .aboutText {
  margin: 0;
  color: rgb(65, 65, 65);
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  text-align: center;
}
.osio4 .aboutText a {
  display: inline-block;
  text-decoration: underline;
  font-weight: bolder;
  color: rgb(65, 65, 65);
  font-family:'Courier New', Courier, monospace;
  transition: transform .1s;
}
.osio4 .aboutText a:hover {
  -ms-transform: scale(1.025); /* IE 9 */
  -webkit-transform: scale(1.025); /* Safari 3-8 */
  transform: scale(1.025);
}
.parallax {
  /* The image used */
  background-image: url("../images/Code-Head-Text.svg");
  /* Set a specific height */
  /* Full height */
  height: 20%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.parallax svg { 
  margin-top: -1px;
}
/* TOPNAV*/
.topnav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 160, 203);
  z-index: 99;
}
.topnav a {
  display: inline-block;
  color: rgb(254, 254, 254);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 7%;
  transition: transform .2s;
  text-shadow: 2px 2px 8px #414141;
  cursor:pointer;
}
.topnav a:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  text-shadow: 4px 4px 9px #2b2b2b;
  color: white;
}
.topnav a:active {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  color: white;
}
.topnav .icon {
  display: none;
}

#nav-container-top {
	height: 1px;
  background-color: #3aa0cb;
  margin: 0;
  padding: 0;
}
/* /TOPNAV*/
#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: rgb(58, 160, 203);
  color: rgb(254, 254, 254);
  cursor: pointer;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
  transition: transform .2s;
  border: 1px solid;
  box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
#goTopBtn:hover {
  background-color: rgb(58, 160, 203);
  color: white;
}
#goTopBtn:active {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1); 
}
footer {
  background-color: rgb(238, 238, 238);
  color: rgb(103, 103, 103);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: #676767;
  margin: 0;
}
footer p {
  font-family:'Courier New', Courier, monospace;
  padding: 2px;
  margin: 0;
}
.social > a:hover {
  opacity:0.75;
}
.social > a {
  font-size:2.2em;
  width: 50px;
  height: 50px;
  line-height:50px;
  display:inline-block;
  text-align:center;
  border: #676767 solid;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:8px 8px;
  opacity:1;
}
/* FOR MOBILE PHONES*/
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .banner p {
    font-size: 1em;
  }
  .banner h1 {
    font-size: 4em;
  }
  .content1{
    width: 100%;
  }
  .osio1 .responsive_right h1 {
    text-align: center;
  }
  .osio1 .responsive_right h2 {
    text-align: center;
  }
  .content2{
    width: 95%;
  }
  .content4{
    width: 95%;
  }
  .osio2 .aboutText{
    text-align: left;
  }
  .topnav{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .topnav a {
    display: none;
    padding: 10px 16px;
    font-size: 1em;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

    font-size: 1em;
  }
  .topnav.responsive a:hover {
    /*background-color: #006ab1;*/
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    color: white;
  }
  .topnav.responsive a:active {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
    color: white;
  }
  #goTopBtn {
    bottom: 10px;
    right: 10px;
    font-size: 1em;
    padding: 10px;
    transition: transform .3s;
  }
  #goTopBtn:active {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  }
  #goTopBtn:not(:active) {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .parallax {
    /* Full height */
    height: 9em; 
  }
  .osio1{
    margin: 0;
    padding-bottom: 20px;
  }
  .osio1 h1{
    margin: 0;
  }
  .osio1 .responsive_left, .osio1 .responsive_right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding: 20px 0 0 0;
  }
  .osio1 .responsive_left img{
    max-width: 50%;
  }
  .osio2{
    margin: 0;
  }
  .osio2 h1{
    margin: 0;
  }
  .osio3{
    margin: 0;
  }
  .osio3 h1{
    margin: 0;
  }
}
/* FOR MOBILE PHONES*/  
@media only screen and (min-width: 600px) {
  body {
    width: 100%;
  }
  .content1{
    width: 100%;
  }
  .content2{
    width: 100%;
  }
  .topnav a {
    font-size: 1em;
  }
  .parallax {
    /* Full height */
    height: 10em;
  }
  #goTopBtn {
    bottom: 20px;
    right: 25px;
    font-size: 1.2em;
    padding: 15px;
    transition: transform .2s;
  }
  #goTopBtn:active {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  }
  #goTopBtn:not(:active) {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .osio1 .responsive_left, .osio1 .responsive_right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .osio1 .responsive_left img{
    max-width: 50%;
  }
}
  /* FOR TABLETS*/
@media only screen and (min-width: 768px) {
  body {
    width: 100%;
  }
  .banner p {
    font-size: 1.5em;
    margin-top: -10px;
  }
  .banner h1 {
    font-size: 5em;
  }
  .content1{
    width: 90%;
  }
  .content1{
    display: flex;
  }
  .content2{
    width: 75%;
  }
  .content3{
    width: 80%;
  }
  .content4{
    width: 75%;
  }
  .topnav a {
    font-size: 1.5em;
  }
  .parallax {
    /* Full height */
    height: 14em;
  }
  #goTopBtn {
    bottom: 20px;
    right: 25px;
    font-size: 1.2em;
    padding: 15px;
    transition: transform .2s;
  }
  #goTopBtn:active {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  }
  #goTopBtn:not(:active) {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .osio1 .responsive_left {
    width: 30%; /* The width is 20%, by default */
  }
  .osio1 .responsive_right {
    width: 70%; /* The width is 60%, by default */
  }
  .osio1 .responsive_left img{
    max-width: 260px;
  }
}
/* FOR LARGE DESKTOP*/
@media only screen and (min-width: 991px) {
  body {
    width: 100%;
  }
  .banner p {
    font-size: 2em;
    margin-top: -20px;
  }
  .banner h1 {
    font-size: 7em;
  }
  .content1{
    width: 70%;
  }
  .content1{
    display: none;
    height: 0px;
  }
  .content2{
    width: 45%;
    opacity: 0.0;
  }
  .content3{
    width: 70%;
  }
  .content4{
    width: 45%;
  }
  .topnav a {
    font-size: 1.5em;
  }
  .parallax {
    /* Full height */
    height: 25em; 
  }
  #goTopBtn {
    bottom: 25px;
    right: 30px;
    font-size: 1.2em;
    padding: 15px;
    transition: transform .2s;
  }
  #goTopBtn:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  #goTopBtn:active {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .osio1 .responsive_left {
    width: 30%; /* The width is 20%, by default */
  }
  .osio1 .responsive_right {
    width: 70%; /* The width is 60%, by default */
  }
  .osio1 .responsive_left img{
    max-width: 260px;
  }
}