html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(251, 251, 253);
}
.banner {
  background-color: #3aa0cb;
  color: rgb(254, 254, 254);
  text-align: center;
}
.banner h2 {
  padding-top: 10px;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  text-shadow: 2px 2px 8px #414141;
}
.banner h1 {
  padding-top: 0;
  margin: 0;
  text-shadow: 2px 2px 8px #414141;
}
.osio1{
  background-color: rgb(58, 160, 203);
  height: 500px;
  padding-top: 29px;
}
.osio1 h1 {
  color: rgb(254, 254, 254);
  text-shadow: 2px 2px 6px #2b2b2b;
  font-size: 2.5em;
}
.osio2{
  background-color: rgb(238, 238, 238);
  height: 500px;
  padding-top: 29px;
}
.osio2 h1 {
  color: rgb(103, 103, 103);
  text-shadow: 2px 2px 6px rgb(255, 255, 255);
  font-size: 2.5em;
}
.osio3{
  background-color: rgb(58, 160, 203);
  height: 500px;
  padding-top: 29px;
}
.osio3 h1 {
  color: rgb(254, 254, 254);
  text-shadow: 2px 2px 6px #2b2b2b;
  font-size: 2.5em;
}
.parallax {
  /* The image used */
  background-image: url("../images/Code-Head-Text.svg");
  /* Set a specific height */
  /* Full height */
  height: 20%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.parallax svg { 
  margin-top: -1px;
}
/* TOPNAV*/
.topnav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 160, 203);
}
.topnav a {
  /*width: 4.5em;*/
  /*float: left;*/
  display: inline-block;
  color: rgb(254, 254, 254);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 7%;
  transition: transform .2s;
  text-shadow: 2px 2px 8px #414141;
}
.topnav a:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  color: white;
}
.topnav a:active {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  color: white;
}
.topnav .icon {
  display: none;
}
/* /TOPNAV*/
#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: rgb(58, 160, 203);
  color: rgb(254, 254, 254);
  cursor: pointer;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
  transition: transform .2s;
  border: 1px solid;
  box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
#goTopBtn:hover {
  background-color: rgb(58, 160, 203);
  color: white;
}
#goTopBtn:active {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1); 
}
footer {
  background-color: rgb(238, 238, 238);
  color: rgb(103, 103, 103);
  margin: 0;
}
footer a {
  text-decoration: none;
  color: rgb(103, 103, 103);
  margin: 0;
}

footer p {
  padding: 2px;
  margin: 0;
}
/* FOR MOBILE PHONES*/
@media only screen and (max-width: 476px) {
  body {
    width: 100%;
  }

  .banner h2 {
    margin-bottom: -25px;
    font-size: 2em;
    right: 46px;
  }
  .banner h1 {
    font-size: 4em;
  }

  .navbar li {
    display: block;
    float: none;
  }

  .navbar li a {
    text-align: center;
    margin: 0 auto;
  }

  .topnav a {
    display: none;
    padding: 10px 16px;
    font-size: 1em;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive a:hover {
    background-color: #006ab1;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    color: white;
  }
  .topnav.responsive a:active {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
    color: white;
  }
  #goTopBtn {
    bottom: 10px;
    right: 10px;
    font-size: 1em;
    padding: 10px;
    transition: transform .3s;
  }
  #goTopBtn:active {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  }
  #goTopBtn:not(:active) {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .parallax {
    /* Full height */
    height: 9em; 
  }
  .osio1{
    padding-top: 38px;
    margin: 0;
  }
  .osio1 h1{
    margin: 0;
  }
  .osio2{
    padding-top: 38px;
    margin: 0;
  }
  .osio2 h1{
    margin: 0;
  }
  .osio3{
    padding-top: 38px;
    margin: 0;
  }
  .osio3 h1{
    margin: 0;
  }
  .osio4{
    padding-top: 38px;
    margin: 0;
  }
  .osio4 h1{
    margin: 0;
  }
}
/* FOR MOBILE PHONES*/  
@media only screen and (min-width: 476px) {
  body {
    width: 95%;
  }
 
  .banner h2 {
    margin-bottom: -30px;
    font-size: 2.25em;
    right: 51px;
  }
  .banner h1 {
    font-size: 4.5em;
  }
  .topnav a {
    font-size: 1em;
  }
  .parallax {
    /* Full height */
    height: 10em;
  }
  #goTopBtn {
    bottom: 20px;
    right: 25px;
    font-size: 1.2em;
    padding: 15px;
    transition: transform .2s;
  }
  #goTopBtn:active {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  }
  #goTopBtn:not(:active) {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .osio1{
    padding-top: 29px;
  }
  .osio2{
    padding-top: 29px;
  }
  .osio3{
    padding-top: 29px;
  }
  .osio4{
    padding-top: 29px;
  }
}
  /* FOR TABLETS*/
@media only screen and (min-width: 768px) {
  body {
    width: 95%;
  }
  .banner {
    font-size: 2em;
  }
  .banner h2 {
    margin-bottom: -45px;
    font-size: 1.5em;
    right: 80px;
  }
  .banner h1 {
    font-size: 3.5em;
    right: 10px;
  }
  .topnav a {
    font-size: 1.5em;
  }
  .parallax {
    /* Full height */
    height: 14em;
  }
  #goTopBtn {
    bottom: 20px;
    right: 25px;
    font-size: 1.2em;
    padding: 15px;
    transition: transform .2s;
  }
  #goTopBtn:active {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  }
  #goTopBtn:not(:active) {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .osio1{
    padding-top: 29px;
  }
  .osio2{
    padding-top: 29px;
  }
  .osio3{
    padding-top: 29px;
  }
  .osio4{
    padding-top: 29px;
  }
}
/* FOR DESKTOP*/
@media only screen and (min-width: 992px) {
  body {
    width: 80%;
  }
  .banner {
    font-size: 2em;
  }
  .banner h2 {
    margin-bottom: -45px;
    font-size: 1.5em;
    right: 80px;
  }
  .banner h1 {
    font-size: 3.5em;
  }
  .topnav a {
    font-size: 1.5em;
  }
  .parallax {
    /* Full height */
    height: 18em; 
  }
  #goTopBtn {
    bottom: 25px;
    right: 30px;
    font-size: 1.2em;
    padding: 15px;
    transition: transform .2s;
  }
  #goTopBtn:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  #goTopBtn:active {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  .osio1{
    padding-top: 29px;
  }
  .osio2{
    padding-top: 29px;
  }
  .osio3{
    padding-top: 29px;
  }
  .osio4{
    padding-top: 29px;
  }
}